@media screen and (max-device-width:450px){
	
	body {
		background:url(Picture/BUGATTI.jpg) no-repeat;
		background-size: contain;
		margin: 170px 0 0 0; /* Сдвигаем вверх */              
		background-color:#2b302c;
		font-family: Tahoma, Verdana, Arial, serif;
	}
	
	img{
		max-width:100%;
	}
		
	p{
		margin-top:5px;
		font-size:100%;
		color:#0f1515;
	}

	h1{ 
		font-size:100%;
		padding:5px;
		text-align:center;
		color:#ded3bd;
	}
	div .set{
		background-color:#9fbbbd;
		border: 1px solid #272b2f;
		border-radius: 10px;
		text-align:center;
		height:390px;
		margin:5px;
	}
	
	div .menu{
		background-color:#595a55;
		border: 1px solid #1c546c;
		border-radius: 15px;
		text-align:center;
		height:30px;
	}
	
	div .menu:hover{
		background-color:#b3a598;
		border: 3px solid #35c4e7;
	}
	
	.slick-block {
		max-width:100%;
		height:80px;
	}
	
	.footer p{
		background-color:#595a55;
		border: 3px solid #1c546c;
		border-radius: 10px;
		text-align:center;
		font-size:110%;
		color:#ded3bd;
		height:60px;
		

	}
}

@media screen and (min-device-width:451px){
	
	body {
		background:url(Picture/BUGATTI.jpg) no-repeat;
		background-size: contain;
		background-color:#2b302c;
		font-family: Tahoma, Verdana, Arial, serif;
	}
	
	img{
		max-width:100%;
	}
		
	p{
		margin-top:5px;
		font-size:110%;
		color:#0f1515;
	}

	h1{ 
		font-size:120%;
		padding:10px;
		text-align:center;
		color:#0f1515;
	}
	div .set{
		background-color:#9fbbbd;
		border: 1px solid #272b2f;
		border-radius: 35px;
		text-align:center;
		height:550px;
	}
	
	div .menu{
		background-color:#595a55;
		border: 1px solid #1c546c;
		border-radius: 15px;
		text-align:center;
		height:30px;
	}
	
	div .menu:hover{
		background-color:#b3a598;
		border: 3px solid #35c4e7;
	}
	
	.slick-block {
		max-width:100%;
	
	}
	
	.footer p{
		background-color:#595a55;
		border: 3px solid #1c546c;
		border-radius: 10px;
		text-align:center;
		color:#ded3bd;
		height:60px;
	}
	
}